@model Nhom07.ModelViews.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- breadcrumb  section begin -->
        <div class="breadcrumb-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-text">
                            <a href="/"><i class="fa fa-home"></i>Home</a>
                            <span>Đăng ký</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--breadcrum Section End-->
    
        <!-- Register  section begin -->
        <div class="register-login-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="register-form">
                            <h2>Register</h2>
                 
                            <div class="alert alert-warning" role="alert">
                                sessionnotification
                            </div>

                    <form asp-action="DangkyTaiKhoan">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   
                                <div class="group-input">
                                    <label for="name">FullName*</label>
                            <input type="text" asp-for="HoTen" placeholder="FullName">
                            <span asp-validation-for="HoTen" class="text-danger"></span>
                                </div>
                                <div class="group-input">
                                    <label for="phone">Phone*</label>
                            <input type="tel" asp-for="SDT" placeholder="Phone">
                            <span asp-validation-for="SDT" class="text-danger"></span>
                                </div>
                                <div class="group-input">
                                    <label for="adress">Address*</label>
                            <input type="text" asp-for="DiaChi" placeholder="Address">
                            <span asp-validation-for="DiaChi" class="text-danger"></span>
                                </div>
                                <div class="group-input">
                                    <label for="email">Email*</label>
                            <input type="email" asp-for="Email" placeholder="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="group-input">
                                    <label for="password">Password*</label>

                            <input type="password" asp-for="Password" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="group-input">
                                    <label for="con-pass">Confirm Password *</label>
                            <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button type="submit" class="site-btn register-btn">Register</button>
                            </form>
                            <div class="switch-login">
                                <a href="/login" class="or-login">Login</a>
                            </div>
                        </div>
                    </div>
    
                </div>
    
            </div>
    
        </div>







