
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    <div class="text-uppercase font-bold">Chi tiết tài khoản</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body display_data">
                    <div class="position-relative row form-group">
                        <label for="image" class="col-md-3 text-md-right col-form-label">
                            Ảnh đại
                            diện
                        </label>
                        <div class="col-md-9 col-xl-8">
                            <p>
                                <img style="height: 200px;" class="rounded-circle" data-toggle="tooltip"
                                     title="Avatar" data-placement="bottom"
                                     src="~/admin/images/_default-user.png" alt="Avatar">
                            </p>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="name" class="col-md-3 text-md-right col-form-label">
                            Họ tên
                        </label>
                        <div class="col-md-9 col-xl-8">
                            <p>Nguyễn Văn A</p>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="email" class="col-md-3 text-md-right col-form-label">Email</label>
                        <div class="col-md-9 col-xl-8">
                            <p>nguyenvana@gmail.com</p>
                        </div>
                    </div>

                    <div class="position-relative row form-group">
                        <label for="phone" class="col-md-3 text-md-right col-form-label">
                            Số điện
                            thoại
                        </label>
                        <div class="col-md-9 col-xl-8">
                            <p>0123456789</p>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="street_address" class="col-md-3 text-md-right col-form-label">
                            Địa chỉ
                        </label>
                        <div class="col-md-9 col-xl-8">
                            <p>Huỳnh Thúc Kháng, Q1, TP HCM</p>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="level" class="col-md-3 text-md-right col-form-label">Admin</label>
                        <div class="col-md-9 col-xl-8">
                            <div class="badge badge-danger mt-2">
                                False
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

