@model SanPham
@{
	ViewData["Title"] = "Create";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="app-main__inner">
	<div class="app-page-title">
		<div class="page-title-wrapper">
			<div class="page-title-heading">
				<div>
					<div class="text-uppercase font-bold">Thêm sản phẩm</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="main-card mb-3 card">
				<div class="card-body">
					<form method="post" enctype="multipart/form-data">
						<div class="position-relative row form-group">
							<label asp-for="TenSP" class="col-md-3 text-md-right col-form-label"></label>
							<div class="col-md-9 col-xl-8">
								<input asp-for="TenSP" type="text" class="form-control">
							</div>
						</div>
						<div class="position-relative row form-group">
							<label asp-for="LoaiSanPhamID" class="col-md-3 text-md-right col-form-label"></label>
							<div class="col-md-9 col-xl-8">
								<select asp-for="LoaiSanPhamID" class="form-control">
									<option value=0>
										
									</option>
									<option value=1>
										
									</option>
									<option value=2>
										
									</option>
								</select>
							</div>
						</div>
						<div class="position-relative row form-group">
							<label asp-for="Gia" class="col-md-3 text-md-right col-form-label"></label>
							<div class="col-md-9 col-xl-8">
								<input asp-for="Gia" type="text" class="form-control">
							</div>
						</div>
						<div class="position-relative row form-group">
							<label asp-for="TonKho" class="col-md-3 text-md-right col-form-label"></label>
							<div class="col-md-9 col-xl-8">
								<input asp-for="TonKho" type="number" class="form-control" value="1">
							</div>
						</div>
						<div class="position-relative row form-group">
							<label asp-for="MauSac" class="col-md-3 text-md-right col-form-label"></label>
							<div class="col-md-9 col-xl-8">
								<input asp-for="MauSac" type="text" class="form-control">
							</div>
						</div>
						<div class="position-relative row form-group">
							<label asp-for="Size" class="col-md-3 text-md-right col-form-label"></label>
							<div class="col-md-9 col-xl-8">
								<input asp-for="Size" type="text" class="form-control">
							</div>
						</div>
						<div class="position-relative row form-group">
							<label asp-for="MatKinh" class="col-md-3 text-md-right col-form-label"></label>
							<div class="col-md-9 col-xl-8">
								<input asp-for="MatKinh" type="text" class="form-control">
							</div>
						</div>
						<div class="position-relative row form-group">
							<label asp-for="LoaiDay" class="col-md-3 text-md-right col-form-label"></label>
							<div class="col-md-9 col-xl-8">
								<input asp-for="LoaiDay" type="text" class="form-control">
							</div>
						</div>
						<div class="position-relative row form-group mb-1">
							<div class="col-md-9 col-xl-8 offset-md-2">
								<button type="submit" class="btn-shadow btn-hover-shine btn btn-primary">
									<span class="btn-icon-wrapper pr-2 opacity-8">
										<i class="fa fa-download fa-w-20"></i>
									</span>
									<span>Lưu</span>
								</button>
								<a asp-area="Admin" asp-controller="Product" asp-action="Index" class="border-0 btn btn-outline-danger mr-1">
									<span class="btn-icon-wrapper pr-1 opacity-8">
										<i class="fa fa-times fa-w-20"></i>
									</span>
									<span>Hủy</span>
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

